<div class="container">
  <p><a href="/">← Назад к меню</a></p>
  <div class="card">
    <h1>Вход</h1>
    <form id="login-form" class="floating-form">
      {{{loginInput}}}
      {{{passwordInput}}}
      {{{submitButton}}}
    </form>
    <p><a href="/register.html">Нет аккаунта?</a></p>
  </div>
</div>
