<main class="home-page">
  <h1>Chat App</h1>
  <nav>
    <ul>
      <li><a href="#" data-nav="profile">Profile</a></li>
      <li><a href="#" data-nav="login">Login</a></li>
      <li><a href="#" data-nav="register">Register</a></li>
      <li><a href="#" data-nav="chats">Chats</a></li>
      <li><a href="#" data-nav="profile-edit">Profile Edit</a></li>
      <li><a href="#" data-nav="password-edit">Password Edit</a></li>
      <li><a href="#" data-nav="404">404</a></li>
      <li><a href="#" data-nav="500">500</a></li>
    </ul>
  </nav>
</main>
