<div class="home-page">
  <h1>Chat App</h1>
  <ul>
    <li><a href="#" id="link-profile">Profile</a></li>
    <li><a href="#" id="link-login">Login</a></li>
    <li><a href="#" id="link-register">Register</a></li>
    <li><a href="#" id="link-chats">Chats</a></li>
    <li><a href="#" id="link-profile-edit">Profile Edit</a></li>
    <li><a href="#" id="link-404">404</a></li>
    <li><a href="#" id="link-500">500</a></li>
  </ul>
</div>

<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/profile.css">
<link rel="stylesheet" href="/styles/profile-edit.css">
<link rel="stylesheet" href="/styles/chats.css">
<link rel="stylesheet" href="/styles/login.css">
<link rel="stylesheet" href="/styles/register.css">
<link rel="stylesheet" href="/styles/404.css">
<link rel="stylesheet" href="/styles/500.css"> 