{{#> layout title="Profile" page="profile"}}
<p><a href="/">← Назад к меню</a></p>

<div class="profile-page">
  <div class="container">
  <div class="avatar-wrapper">
    <img src="/Avatar.png" alt="User Avatar" class="avatar" id="avatarPreview" />
    <label for="avatarInput" class="avatar-overlay">Поменять </br>аватар</label>
    <input type="file" id="avatarInput" name="avatar" accept="image/*" hidden />
  </div></div>
  <h1>Иван</h1>

  <ul class="profile-info">
    <li><strong>Почта</strong><p>pochta@yandex.ru</p></li>
    <li><strong>Логин</strong><p>ivanivanov</p></li>
    <li><strong>Имя</strong><p>Иван</p></li>
    <li><strong>Фамилия</strong><p>Иванов</p></li>
    <li><strong>Имя в чате</strong><p>Иван</p></li>  
    <li class="last-li"><strong>Телефон</strong><p>+7 (909) 967 30 30</p></li>
  </ul>

  <div class="profile-actions">
    <button class="btn">Изменить данные</button>
    <button class="btn">Изменить пароль</button>
    <button class="btn logout">Выйти</button>
  </div>
</div>
{{/layout}}